@import "index.scss";

.beer-page {
    margin-top: 220px;
    padding: 20px;
}

.nav-info {
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }
    img {
        height: 100px;
        width: 100px;
    }
}

.right {
    margin-top: 20px;
    font-size: 2rem;
    color: $Gray;
}

.name {
    margin-top: 10px;
}

.tagline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;

    p {
        font-size: 2rem;
    }
    
}

.tagline-right {
    display: flex;
    gap: 20px;
    color: $Gray;

    p{
        font-size: 2rem;
        border-left: 3px solid black;
        text-align: center;
        margin-left: 5px;
    }
}

.image-container {
    
    margin-top: 20px;
    padding: 10px;
    

    img {
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.description {
    height: 100%;
    padding: 10px;
    background-color: $Gray;
    margin-top: 20px;
}

.title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 5px solid white;
}

.middle-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.hops-values {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}

.ingredients {
    margin-top: 20px;
    background-color: $Gray;
    padding: 10px;
}

.two {
    color: white;
}

.basics {
    margin-top: 20px;
    background-color: $Gray;
    padding: 10px;
    
}

.brew {
    display: flex;
    justify-content: space-between;

    span {
        color: white;
        margin-left: 50px;
    }
}

.target {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    span {
        color: white;
        margin-left: 50px;
    }
}

.food-pairiting {
    padding: 10px;
    background-color: $Gray;
    margin-top: 20px;

    p {
        margin-top: 20px;
    }

    img {
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }
}

.brewer-tips {
    margin-top: 20px;
    background-color: $Gray;
    padding: 10px;
    
    img {
        width: 225px;
        height: 225px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
}

button {
    all: unset;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

    img {
        margin-top: -4px;
    }
}

.footer {
    margin-top: 20px;
    border-top: 5px solid black;
    text-align: end;

    p {
        margin-top: 20px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .middle-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-left: 120px;
    }

    .footer {
        max-width: 300px;
        text-align: center;
        margin-left: 120px;
    }

    .tagline {
        max-width: 550px;
        
        p {
            font-size: 0.8rem;
        }
    }

    .nav-info {
        max-width: 550px;

        p {
            font-size: 0.8rem;
        }
        h2 {
            font-size: 0.8rem;
        }
        h1 {
            font-size: 0.8rem;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }

    .navbar {
        width: 560px;
        margin-left: 10px;

        img {
            width: 90px;
            height: 90px;
        }
        li {
            font-size: 1rem;
        }
    }

    .beer-page {
        margin-top: 100px;
    }
}
