@import "../styles/index.scss";

.home-container {
    margin-top: 240px;
    background-size: contain;
    max-width: 1440px;
    background-color: white;
}

.wrapper {
    width: 1440px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-container {
    
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 70px;
    width: 1440px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    button {
        all: unset;
        cursor: pointer;
        background-color: $Blue;
        height: 30px;
        width: 100px;
        padding: 10px;
        border-radius: 50px;
        text-align: center;
    }
}

.filter-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}
