@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$Gray : rgb(170, 170, 170);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Special Elite', cursive;
}