@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$Gray : rgb(170, 170, 170);
$Blue : rgb(28, 210, 242);
$Purple : rgb(148, 87, 235, 1);
$Burgundy : rgb(128, 0, 32, 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Special Elite', cursive;
}

main {
    width: 1440px;
}