@import "../styles/index.scss";

.not-found-container {
    margin-top: 240px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 10px;

    .img {
        margin-left: 335px;
        img {
            height: 500px;
            width: 800px;
        }
    }
    
    h1 {
        font-size: 7rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    .bottom {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    a {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .not-found-container {
        margin-top: 140px;
        max-width: 570px;

        .bottom {
            margin-top: 130px;
            margin-left: 10px;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1rem;
        }

        a {
            font-size: 1rem;
        }

        .img {
            margin-left: 0px;
            width: 570px;
            height: 400px;

            img {
                width: 560px;
                height: 450px;
            }
        }
    }

    
}